body {
    font-family: 'Raleway', sans-serif;
}


/* styling for the divs displaying stock info */

.stocksClass {
    border: 0.0625rem solid black;
    margin-top: 0.8rem;
}


/* button styling */

.stockButton {
    width: 5rem;
    background-color: #343A40;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3125rem;
}


/* label styling */

.labelOne {
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}


/* styling for the input form */

input[type=text] {
    text-transform: uppercase;
    border: 0.125rem solid #343A40;
    margin-bottom: 0.5rem;
}


/* styling for the submit button */

button[type=submit] {
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
    margin-bottom: 0.5rem;
}


/* styling for the special fonts */

.fas {
    padding: 0.5rem;
    font-size: 2rem;
}